
{ 
	border: thin solid black; 
	width:150px; 
	height:150px; 
	text-align: justify; 
	background-color: yellow; 
	word-wrap: break-word; 
	margin: 10px 20px auto; 
	padding: 10px 20px 30px; 
	float: left; 
} 